/* v1.12.2 by /u/GarethPW */

/* Main Effect */

.annotation-popup-shape svg,
.caption-window,
.iv-drawer,
.iv-promo,
.ytp-cards-teaser,
.ytp-fresca-suggested-promo-sidebar,
.ytp-videowall-still-listlabel
{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0.8 !important;
}

.ytp-ce-expanding-overlay-background::before,
.ytp-ce-playlist-count,
.ytp-popup,
.ytp-preview,
.ytp-progress-list,
.ytp-tooltip,
.ytp-volume-slider-handle::after
{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.ytp-load-progress,
.ytp-panel,
.ytp-tooltip-text-wrapper
{
    opacity: 0.8;
}

/* Main Effect: Transition Refinements */

.ytp-progress-list,
.ytp-volume-slider-handle::after
{
    transition: backdrop-filter .25s cubic-bezier(0, 0, 0.2, 1);
}

.ytp-autohide .ytp-progress-list,
.ytp-autohide .ytp-volume-slider-handle::after
{
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur();
    transition: backdrop-filter .1s cubic-bezier(0.4, 0, 1, 1);
}

/* Annotation Refinements */

.annotation.annotation-type-text {opacity: 0.9 !important;}

/* Caption Refinements */

.captions-text>span {background-color: transparent !important;}

/* Card Refinements */

.ytp-cards-teaser {
    border-right: 0;
    margin-right: 12px;
}

.ytp-cards-teaser-box, .ytp-ce-expanding-overlay-background {
    background-color: rgba(256,256,256,0.8);
}

.ytp-ce-expanding-overlay-background::before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: inherit;
    padding: inherit;
    display: block;
}

.ytp-ce-channel-metadata, .ytp-ce-website-metadata {
    background-color: transparent;
    border: none !important;
}

/* Controls/Tooltips Refinements */

.ytp-hover-progress-light {background-color: rgba(255,255,255,0.4);}

.ytp-preview {background-color: rgba(28,28,28,0.7);}

.ytp-volume-slider-handle::after {z-index: -1;}

/* Dropdown/Settings Refinements */

.ytp-popup {background-color: rgba(28,28,28,0.8);}
